<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wadidejla.com.alfahresapp" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.wadidejla.sensors.SystemSensorReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Define the background Synchronization Service -->

        <service
            android:name="com.wadidejla.service.AlfahresSyncService"
            android:enabled="true"
            android:permission="com.degla.service.START_PERMISSION" />

        <activity
            android:name=".AlfahresMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginScreen"
            android:label="Alfahres System"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainTabbedActivity"
            android:label="Alfahres System"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".AlfahresMain"
            android:theme="@style/ThemeOverlay.AppCompat.Dark" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wadidejla.com.alfahresapp.AlfahresMain" />
        </activity>
        <activity
            android:name=".MainDrawerActivity"
            android:label="Alfahres System"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>
